server:
  port: 8080
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ecommerce
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
jwt:
  signerKey: eDbEY7U+lYi4YqhcR4u2Q7BRKLSMBOW8BoLAUk89H5olX9TD5VlMekcHVgqIumiU
  valid-duration: 20 # in second
  refreshable-duration: 120 # in seconds
